/*IMPORTANDO ALGUMAS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Licorice&family=Parisienne&family=Poppins:wght@100;200;300;600&family=Ubuntu:wght@300;400;500;700&display=swap');

*/*TODO HTML*/
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
a{
    color: #FFA500;
}

::-webkit-scrollbar {
    width:10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background:black;
}
::-webkit-scrollbar-thumb {
    background: #FFA500;
    border-color: #000000;
    border-radius: 5px;
}
/*AQUI É CLASS QUE DEFINE O TAMANHO, O MINIMO DE ALTURA, O TIPO DE DISPLAY E O PADDING DE TODOS OS LAYOUTS*/

body{
    background: #FFA500;
}


@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}


.main
{
    position: relative;
    min-height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 120px;
}


/*AQUI FICA O CABEÇALHO DO HTML*/
header
{
    position: fixed;
    background: #FFA500;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: #000000 5px 5px 5px 5px;
}

        /*ESSA É A IMAGEM DO LOGO*/
        .logo
        {
            max-width: 70px;
            max-width: 70px;
        }
        /*AQUI FICA O MENU*/
        .menu
        {
            display: flex;
        }
        /*AQUI TIRAMOS O SUBLINHADO E AS MARCAÇÕES DO MENU*/
        .menu li
        {
            list-style: none;
            color: #000000;
        }
        /*AQUI MODIFICAMOS DIRETAMENTE OS ITENS DO MENU*/
        .menu li a
        {
            position: relative;
            color: black;
            text-decoration: none;
            margin-left: 40px;
        }
        /*AQUI MODIFICAMOS COMO O ITEM DO MENU FICA APÓS O MOUSE PASSAR SOBRE ELE*/
        .menu li a:hover
        {
            color:white;
        }
        /*inicio das checkbox*/
        .option
        {
            display: flex;
        }
        .option li
        {
            list-style: none;
        }
        .option li input
        {
            position: relative;
            color: black;
            text-decoration: none;
            margin-left: 40px;
        }
        /*buscar*/
          
/*AQUI FICA A HOME*/
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    .foto
    {
        max-width: 600px;
        max-height: 600px;
    }
    /*AQUI O ESPAÇO DO TEXTO DA HOME*/
    .content .text
    {
        width: 100%;
        max-width: 600px;
    }
        /*AQUI FICA O TÍTULO DA HOME*/
        .content .text h2
        {
            color: rgb(255, 255, 255);
            font-size: 5em;
            font-weight: 300;
        }
        /*AQUI FICA A PALAVRA DESTACADA DA HOME*/
        .content .text h2 span
        {
            font-weight: 700;
            color: rgb(255, 255, 255);
        }
        span
        {
            margin-left: 65px;
        }
        /*AQUI FICA O TEXTO COMUM DA HOME*/
        .content .text p
        {
            color: rgb(255, 255, 255);
            font-weight: 400;
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 20px 0;
        } 
    
/*FAZENDO O RESPONSIVO*/
@media(max-width:991px)
{
    .main
    {
        padding: 40px;
    }
    header
    {
        padding: 20px 40px;
    }
    .logo
    {
        max-width: 70px;
    }
    .content
    {
        flex-direction: column;
        margin: 120px 0 40px;
    }
    .content .text
    {
        max-width: 100%;
    }
    .content .text h2
    {
        font-size: 40px;
    }
    .menu
    {
        display: none;
    }
    .menu.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(#FFA500, #FFA500);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu li a
    {
        font-size: 1.5em;
        margin: 10px 0;
        display: inline-block;
    }
    .toggle
    {
        position: relative;
        width: 32px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100000;
        cursor: pointer;
    }
    .toggle.active 
    {
        position: fixed;
        right: 40px;
    }
    .toggle::before
    {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        transform: translateY(-10px);
        box-shadow: 0 10px 0 black;
        transition: 0.25s;
    }
    .toggle.active::before
    {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 white;
    }
    .toggle::after
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transform: translateY(10px);
        transition: 0.25s;
    }
    .toggle.active::after
    {
        transform: translateY(0px) rotate(-45deg);
    }
}
@media(max-width:480px)
{ 
    body
    {
        zoom: 84% ;
        width: fit-content;
    }
    .main
    {
        padding: 20px;
        width:fit-content;
    }
    label
    {
        font-size: 20px;
    }
    .textoequipe
    {
        width:max-content;
    }
    .toggle.active 
    {
        right: 20px;
    }
    .content .text h2
    {
        font-size: 3em;
    }
    .btn
    {
        padding:15px 30px ;
    }
    
}
/*INICIO DO SOBRE*/

#sobre
{
    background: radial-gradient(#000000, #000000);
}

.textoequipe{
    width: 100%;
    text-align: center;
    background: #FFA500;
    color: black;
    padding-top: 2%;
    
}

.certificado{
    width:auto;
}

.container{
    margin-right: 60px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    justify-items: center;
}




/*FIM DO SOBRE*/

#contato
{
    background: #FFA500;
}
#contato .info
{
    margin-top: 20px;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 30%;
    width:auto;
}
#contato .info .endereco, .telefone, .email, .logo_rodape1
{
    color: white;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
}
